<div ng-app="neonionApp" ng-controller="AnnotationListCtrl">
    <h2>{{document.title}}</h2>

    <div ng-repeat="(item_page, statements) in statementsByEntity">
        <h4>
            <a href="http://wikidata.org/wiki/{{ item_page }}">{{ item_page }}</a>
            <span ng-hide="{{ !statements.aliases.length }}">({{ statements.aliases | first }})</span>

        </h4>
        <div ng-repeat="alias in statements.aliases | unique" ng-hide="{{ statements.aliases.length < 2 }}">
            {{ alias }}
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Predicate</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="(property, values) in statements.properties">


                    <td>
                        {{ property }}
                    </td>

                    <td>
                        {{ values }}
                    </td>

                    <!--<td class="col-md-6">
                        {{ (annotationByConcept | first).oa.hasBody.label }}
                        <a href="{{ (annotationByConcept | first).oa.hasBody.identifiedAs }}">
                            <i class="{{ (annotationByConcept | first).oa.hasBody.identifiedAs ? 'fa fa-database' : ''}}"></i>
                        </a>
                    </td>
                    <td class="col-md-4">
                        <a class="link" href="/annotation_occurrences#?rdf.uri={{ key | escape }}&oa.annotatedBy.email={{ user.email }}">
                            {{ annotationByConcept.length }} Occurrences
                        </a>
                        in
                        <a class="link" href="/annotation_documents#?rdf.uri={{ key | escape }}&oa.annotatedBy.email={{ user.email }}">
                            {{ (annotationByConcept | unique : 'uri').length }} Documents
                        </a>
                    </td>
                    <td class="col-md-2">{{ (annotationByConcept | last).created | date : "MM/dd/yyyy 'at' h:mma" }}</td>
                </tr>-->
            </tbody>
        </table>
    </div>
</div>